# Explore here

In [6]:
import pandas as pd

data_raw = pd.read_csv('/workspaces/proyecto_DataScience_DMS/data/raw/base-2022-comunas.csv', index_col=0, sep=',', encoding='latin-1')

data_raw.head()

,EDAD,PAIS,AÑO ESTIMACION,REGION,COMUNA,CENSO AJUSTADO,RRAA_REGULAR,RRAA_IRREGULAR,RRAA_TOTAL,ESTIMACION
SEXO,,,,,,,,,,
H,00 A 04,ALEMANIA,2018,NaN,OTRAS COMUNAS,9.0,1.0,NaN,1.0,10
H,00 A 04,ALEMANIA,2018,COQUIMBO,LA SERENA,2.0,NaN,NaN,NaN,2
H,00 A 04,ALEMANIA,2018,MAULE,CURICÓ,1.0,NaN,NaN,NaN,1
H,00 A 04,ALEMANIA,2018,METROPOLITANA DE SANTIAGO,ESTACIÓN CENTRAL,1.0,NaN,NaN,NaN,1
H,00 A 04,ALEMANIA,2018,METROPOLITANA DE SANTIAGO,LAS CONDES,3.0,NaN,NaN,NaN,3

In [7]:
data_raw.describe()

,AÑO ESTIMACION,CENSO AJUSTADO,RRAA_REGULAR,RRAA_IRREGULAR,RRAA_TOTAL,ESTIMACION
count,123986.000000,113813.000000,74611.000000,20375.000000,76931.000000,123986.000000
mean,2020.012469,34.374544,44.765504,10.488098,46.193264,60.216186
std,1.411875,144.748952,270.242135,132.159791,279.740904,321.739695
min,2018.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,2019.000000,2.000000,1.000000,1.000000,1.000000,2.000000
50%,2020.000000,5.000000,4.000000,1.000000,4.000000,7.000000
75%,2021.000000,19.000000,17.000000,3.000000,17.000000,28.000000
max,2022.000000,6289.000000,10904.000000,8381.000000,10912.000000,14712.000000